/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d4cbb8;
    font-family: system-ui, sans-serif;
}

/* Wrapper semelhante ao menu */
.howto-wrapper {
    width: clamp(900px, 80vw, 1400px);
    height: clamp(600px, 70vh, 900px);
    padding: 60px;

    background-image: url("../Imagens/Fundo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 80px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

/* Imagem das instruções */
.howto-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.splash {
    position: absolute;
    width: 120px;
    height: auto;
    object-fit: contain;
    opacity: 0.8;
    pointer-events: none;
}

.splash-1 {
    top:42%;
    left:30%;
    transform: rotate(15deg);
}

.splash-2 {
    top: 60%;
    left: 30%;
    transform: rotate(-10deg);
}

.splash-3 {
    top: 20%;
    right: 8%;
    transform: rotate(65deg);
}

.splash-4 {
    bottom:20%;
    right: 35%;
    transform: rotate(-50deg);
}

.splash-5{
    bottom:45%;
    right:29%;
    transform: rotate(20deg);
}

/* Botão voltar com o mesmo estilo dos botões do menu */
.menu-item {
    position: relative;
    min-width: 200px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background: #A8A886;
    color: #111;

    clip-path: polygon(
            3% 0%, 97% 3%,
            100% 20%, 98% 80%,
            95% 100%, 5% 97%,
            0% 70%, 2% 20%
    );

    box-shadow:
            0 10px 0 rgba(0,0,0,0.28),
            0 2px 4px rgba(0,0,0,0.35);

    text-decoration: none;
    text-align: center;

    transition: 0.15s ease-out;
}

.menu-item:hover {
    transform: translateY(4px);
    box-shadow:
            0 4px 0 rgba(0,0,0,0.28),
            0 2px 3px rgba(0,0,0,0.2);
}

/* Pequena fita branca como no botão "Como Jogar" */
.back-button::before {
    content: "< Voltar";
    align-content: center;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%) rotate(-3deg);
    width: 100px;
    height: 40px;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
